@{
    Layout = "~/Views/Books/Books_Layout.cshtml";
}

<div class="container">
        <h2 class="theme_color col-6">Book List</h2>
    <div class="col-3 m-0">
        <a asp-action="Upsert" asp-controller="Books" class="btn btn-primary text-white">
            Add New Book
        </a>
    </div>
    <div class="col-12 border border-dark dark-bg p-3 ml-3 mt-4 text-white">
        <table id="DT_load" class="table dark-bg table-dark text-white" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Author</th>
                    <th>ISBN</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/bookList.js"></script>
}