<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Keneil's BookList App</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />





</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm shadow-sm font-weight-bold fixed-top">
            <a class="navbar-brand theme_color" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/kay_dev logo_theme.png" width="80" height="80" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars" style="color:#0dbda1; font-size:20px;"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle text-light" id="navbarDropdown" data-toggle="dropdown" role="button" asp-area="" asp-controller="Home" asp-action="Index" (current) aria-haspopup="true">Projects</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-area="" asp-controller="JSGame" asp-action="Game">JS Game</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Books" asp-action="Books">Booklist App</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="~/Downloads/Keneil Jordan CV.pdf">Download CV</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top border-dark footer text-white">
        <div class="container">
            <a>&copy; 2020 - Keneil_Dev - Developed and Designed Using .NET </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
