@{
    ViewData["Title"] = "Home";
}

@{
    Layout = "~/Views/Home/Home_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    @model KeneilPortfolio.Models.ContactForm
}

<div class="bg-1 shadow-sm container-fluid text-white justify-content-center" id="main-head">
    <div class="row align-items-center mw-100">
        <div class="col mh-100">
            <h1 class="masthead-heading font-weight-bold">Keneil Jordan</h1>
            <h3 class="display-6 font-weight-bold theme_color">Computing Graduate</h3>
        </div>
        <div class="col-sm-1 mh-100 mw-100 float-right">
            <img src="~/images/portfoliosquare.jpg" class="img-thumbnail float-right rounded-circle mw-100 mh-100"
                 alt="Keneil's Picture" width="230" height="230">
        </div>
    </div>
    <div class="d-flex flex-column">
        <div class="p-2">
            <text>
                <span class="fas fa-envelope theme_color">
                </span> : keneiljordan@hotmail.co.uk
            </text>
        </div>
        <div class="p-2">
            <text>
                <span class="fas fa-phone theme_color ">
                </span> : +447774550700
            </text>
        </div>
        <div class="p-2">
            <text>
                <span class="fab fa-linkedin theme_color">
                </span> <a class="text-white" href="https://www.linkedin.com/in/keneil-jordan">: linkedin.com/in/keneil-jordan</a>
            </text>
        </div>
        <div class="p-2">
            <text>
                <span class="fab fa-github theme_color ">
                </span> <a class="text-white" href="https://www.github.com/KeneilDev">: github.com/KeneilDev</a>
            </text>
        </div>
        <div class="p-2">
            <text>
                <span class="fab fa-instagram theme_color ">
                </span> <a class="text-white" href="https://www.instagram.com/keneil_dev/"> : @@keneil_dev </a>
            </text>
        </div>
    </div>
</div>

<section id="about-me">
    <div class="bg-1 shadow-sm container-fluid text-white justify-content-center">
        <h2><span class="fa fa-user-circle fa-fw theme_color"></span> About Me</h2>
        <p> I'm a recent computing graduate with commercial experience working in software development. I have gained 1 year of work experience under a commercial company as an apprentice during my gap year. I've been exposed me to a full agile software development cycle as a member of a small development team. This includes working on the front and backend of the web systems, conducting tasks such as integrating UI designs, testing and publishing to the live systems mainly using C#/.NET, HTML, CSS, SQL and Umbraco.  I am actively looking to learn and gain professional experience in software development while embracing the challenges ahead of me in future projects and endeavours. While I'm seeking a new role I'm working on personal projects such as developing this website and polishing my skills in development as it's a hobby to me just as much as a career choice.</p>
    </div>
</section>

<section id="skills">
    <div class="bg-1 shadow-sm container-fluid text-white justify-content-center">
        <h2><span class="fas fa-code fa-fw theme_color"></span> Core Skills</h2>

        <h5>C#</h5>
        <div class="progress md-progress" style="height: 20px">
            <div class="progress-bar" role="progressbar" data-score="65%" height: 20px" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">55%</div>
        </div>
        <h5>.NET CORE / MVC</h5>
        <div class="progress md-progress" style="height: 20px">
            <div class="progress-bar" role="progressbar" data-score="60%" height: 20px" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">55%</div>
        </div>
        <h5>JavaScript</h5>
        <div class="progress md-progress" style="height: 20px">
            <div class="progress-bar" role="progressbar" data-score="65%" height: 20px" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
        </div>
        <h5>PHP</h5>
        <div class="progress md-progress" style="height: 20px">
            <div class="progress-bar" role="progressbar" data-score="55%" height: 20px" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
        </div>
        <h5>HTML5 and CSS</h5>
        <div class="progress md-progress" style="height: 20px">
            <div class="progress-bar" role="progressbar" data-score="80%" height: 20px" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">75%</div>
        </div>
    </div>
</section>

<section id="work-experience">
    <div class="bg-1 shadow-sm container-fluid text-white justify-content-center work">
        <h2><span class="fa fa-briefcase fa-fw theme_color"></span> Work Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h5>Apprentice Software Systems Developer</h5>
                <div class="subheading mb-3 theme_color">
                    Enact Conveyancing
                </div>
                <p>
                    •	Demonstrated strong teamworking skills which also helped to build communication with stakeholders when discussing project methodologies.
                </p>
                <p>
                    •	Contributed to development of new implementations to the live ASP.NET to create a Model View Controller (MVC) web app.
                </p>
                <p>
                    •	Offered support to clients with less technical knowledge to help solve complex problems.
                </p>
                <p>
                    •	Time management was key to completing deadlines on time in order to have software fully evaluated before release.
                </p>
                <p>
                    •	Acquired multiple skills in coding languages such as C#, HTML CSS, JavaScript, PHP and SQL whilst studying at Estio Training in Halifax.
                </p>


            </div>
            <div class="flex-shrink-0">
                <span class="text-primary">
                    <text class="theme_color">September 2015 - September 2016</text>
                </span>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h5>Sales Assistant</h5>
                <div class="subheading mb-3 theme_color">
                    Sports Direct
                </div>
                <p>
                    •	Being responsible for processing cash and card payments.
                </p>
                <p>
                    •   Working within established guidelines, particularly with brands.
                </p>
                <p>
                    •	Assisting shoppers to find the goods and products they are looking for.
                </p>
                <p>
                    •	Keeping up to date with special promotions and putting up displays.
                </p>


            </div>
            <div class="flex-shrink-0">
                <span class="text-primary">
                    <text class="theme_color">July 2018 - October 2019</text>
                </span>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h5>Crew Member</h5>
                <div class="subheading mb-3 theme_color">
                    McDonalds
                </div>
                <p>
                    •	Built customer experience and communication skills to provide an exceptional service.
                </p>
                <p>
                    •	Acquired strong management skills in order to oversee busy tasks while aiding newer staff effectively during busy hours.
                </p>
                <p>
                    •	Adapting and adhering to health standards were learnt from working in the kitchen.
                </p>
                <p>
                    •	Teamwork and Respect ensure that the workflow is efficient and effective to help tackle the fast paced working environment.
                </p>
            </div>
            <div class="flex-shrink-0">
                <span class="text-primary">
                    <text class="theme_color">October 2014 - July 2015</text>
                </span>
            </div>
        </div>

    </div>
</section>

<section id="education">
    <div class="bg-1 shadow-sm container-fluid text-white justify-content-center">
        <h2><span class="fa fa-graduation-cap fa-fw theme_color"></span> Education</h2>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h5>BSc(Hons) Computing (1st Class)</h5>
                <div class="subheading mb-3 theme_color">
                    Manchester Metropolitan University
                </div>
                <h6 class="font-italic">Modules Including: </h6>
                <div class="row">
                    <div class="col">Advanced Programming</div>
                    <div class="w-100"></div>
                    <div class="col">Web Design and Development</div>
                    <div class="w-100"></div>
                    <div class="col">Data Engineering</div>
                    <div class="w-100"></div>
                    <div class="col">Mobile Applications Development</div>
                    <div class="w-100"></div>
                    <div class="col">Web Based Business Systems</div>
                </div>
            </div>
            <div class="flex-shrink-0">
                <span class="text-primary">
                    <text class="theme_color">September 2016 - July 2020</text>
                </span>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h5>Level 3 Diploma in ICT Competence</h5>
                <h5>Level 3 Diploma in ICT Systems and Principles</h5>
                <h5>Advanced Level Apprenticeship in IT, Software, Wed & Telecoms Professionals</h5>

                <div class="subheading mb-3 theme_color">
                    ESTIO Training (Halifax)
                </div>
                <h6 class="font-italic">Modules Including: </h6>
                <div class="row">
                    <div class="col">Software Testing</div>
                    <div class="w-100"></div>
                    <div class="col">Website Software</div>
                    <div class="w-100"></div>
                    <div class="col">Web Development</div>
                    <div class="w-100"></div>
                    <div class="col">Object Oriented Computer Program Using C#</div>
                    <div class="w-100"></div>
                    <div class="col">Data Modelling</div>
                </div>
            </div>
            <div class="flex-shrink-0">
                <span class="text-primary">
                    <text class="theme_color">September 2015 - September 2016</text>
                </span>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h5>Level 3 BTEC subsidiary diploma in IT (DM)</h5>
                <div class="subheading mb-3 theme_color">Leeds City College</div>
                <h6 class="font-italic">Modules Including: </h6>
                <div class="row">
                    <div class="col">Software Design and Development</div>
                    <div class="w-100"></div>
                    <div class="col">Object Orientated Programming</div>
                    <div class="w-100"></div>
                    <div class="col">Database Design</div>
                    <div class="w-100"></div>
                    <div class="col">Procedural Programming</div>
                    <div class="w-100"></div>
                    <div class="col">Web Server Scripting</div>
                </div>
            </div>
            <div class="flex-shrink-0">
                <span class="text-primary">
                    <text class="theme_color">September 2013 - July 2015</text>
                </span>
            </div>
        </div>

    </div>
</section>

<section id="projects">
    <div class="bg-1 shadow-sm container-fluid text-white justify-content-center">
        <h2><span class="fa fa-tasks fa-fw theme_color"></span> Projects</h2>
        <p>Here are a set of projects I've worked on recently:</p>
        <div class="card-deck">
            <div class="card dark-bg shadow">
                <img class="card-img-top" src="~/images/jsgame.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a class="theme_color" asp-area="" asp-controller="JSgame" asp-action="Game">Vanilla JS Game</a></h5>
                    <div class="card-text">
                        <p>This Pure JS dungeon game which was originally assigned as my dissertation project and is coded purely in JavaScript, it utilises object orientated programming with many functions and is tile based.</p>
                        <p class="theme_color">Skills used:</p>
                        <p>JavaScript, CSS, HTML</p>
                    </div>
                </div>
            </div>
            <div class="card dark-bg shadow">
                <img class="card-img-top" src="~/images/booklist.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> <a class="theme_color" asp-area="" asp-controller="Books" asp-action="Books">Booklist</a></h5>
                    <p class="card-text">The Booklist app was made with the purpose of creating a book list library which uses CRUD operations that interact with an Azure Database to modify the collection (Security will soon be implemented).</p>
                    <p class="theme_color">Skills used:</p>
                        <p class="card-text">C#, DataTables, Databases, JavaScript, jQuery,Azure...</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="bg-1 shadow-sm container-fluid text-white justify-content-center">
        <h2><span class="fas fa-paper-plane fa-fw theme_color"></span> Get In Touch</h2>
        <form asp-action="SendMail" asp-controller="Home" method="post" onsubmit="save()" id="formsubmit">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input required type="text" asp-for="Name" class="form-control" placeholder="Name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input required type="text" asp-for="Email" class="form-control" placeholder="Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input required type="text" asp-for="Phone" class="form-control" placeholder="Phone" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea required asp-for="Message" class="form-control" placeholder="Enter Message"></textarea>
                                    <span asp-validation-for="Message" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary btn-md bg-theme sweetsubmit" value="Send Message">
                                </div>
                            </div>
                        </div>
                        </div>
            </div>
        </form>
    </div>
</section>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}